@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-neon-blue: #00f0f0;
  --color-neon-purple: #a000f0;
  --color-dark-bg: #050508;
}

@layer utilities {
  .glass-panel {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .neon-text {
    text-shadow: 0 0 10px rgba(74, 144, 226, 0.8);
  }
}
